@use '../utils/_fonts' as font
@use '../utils/_colors' as color
@use '../utils/_font-size' as ftsize
@use '../utils/_main' as utils

.container_categories
  @include utils.flex
  //flex xm phone
  @include utils.flex-catg-phone-xm-only
    display: flex
    flex-direction: column
    gap: 0

.categorie_cinema
  @include utils.flex-ct
  @include utils.block
  background-color: color.$pinegreen
  font-size: ftsize.$font-paragraphe //250px
  color: color.$white
  font-family: font.$font-sans-serif
  font-weight: 700 //bold
  //categorie bloc xm phone
  @include utils.block-xm-phone-only
    border-radius: 0
    width: 100%

.categorie_musique
  @include utils.flex-ct
  @include utils.block
  background-color: color.$orange
  font-size: ftsize.$font-paragraphe //250px
  color: color.$white
  font-family: font.$font-sans-serif
  font-weight: 700 //bold
   //categorie bloc xm phone
  @include utils.block-xm-phone-only
    border-radius: 0
    width: 100%

.categorie_serieTv
  @include utils.flex-ct
  @include utils.block
  background-color: color.$mint
  font-size: ftsize.$font-paragraphe //250px
  color: color.$white
  font-family: font.$font-sans-serif
  font-weight: 700 //bold
   //categorie bloc xm phone
  @include utils.block-xm-phone-only
    border-radius: 0
    width: 100%

.categorie_jeuxVideo
  @include utils.flex-ct
  @include utils.block
  background-color: color.$purple
  font-size: ftsize.$font-paragraphe //250px
  color: color.$white
  font-family: font.$font-sans-serif
  font-weight: 700 //bold
   //categorie bloc xm phone
  @include utils.block-xm-phone-only
    border-radius: 0
    width: 100%

.categorie_animes
  @include utils.flex-ct
  @include utils.block
  background-color: color.$pink
  font-size: ftsize.$font-paragraphe //250px
  color: color.$white
  font-family: font.$font-sans-serif
  font-weight: 700 //bold
   //categorie bloc xm phone
  @include utils.block-xm-phone-only
    border-radius: 0
    width: 100%

.categorie_sports
  @include utils.flex-ct
  @include utils.block
  background-color: color.$turquoise
  font-size: ftsize.$font-paragraphe //250px
  color: color.$white
  font-family: font.$font-sans-serif
  font-weight: 700 //bold
   //categorie bloc xm phone
  @include utils.block-xm-phone-only
    border-radius: 0
    width: 100%

.categorie-text-size
  @include utils.font-size-xm-hone-only
    font-size: ftsize.$font-xm-queries