@use '../utils/_fonts' as font
@use '../utils/_colors' as color
@use '../utils/_font-size' as ftsize



.flex
  display: flex
  flex-wrap: wrap
  gap: 32px
  justify-content: space-around

.test1
  background-color: color.$pinegreen
  color: color.$white
  width: 250px
  height: 100px
  border-radius: 32px

.test2
  background-color: color.$orange
  color: color.$white
  width: 250px
  height: 100px
  border-radius: 32px

.test3
  background-color: color.$mint
  color: color.$white
  width: 250px
  height: 100px
  border-radius: 32px

.test4
  background-color: color.$purple
  color: color.$white
  width: 250px
  height: 100px
  border-radius: 32px
  
  