@use '../utils/_fonts' as font
@use '../utils/_colors' as color
@use '../utils/_font-size' as ftsize



.flex
  display: flex
  flex-wrap: wrap
  gap: 32px
  justify-content: space-evenly

.categorie_cinema
  background-color: color.$pinegreen
  font-size: ftsize.$font-paragraphe //250px
  color: color.$white
  font-family: font.$font-sans-serif
  font-weight: 700
  width: 250px
  height: 100px
  border-radius: 32px
  display: flex
  justify-content: center
  align-items: center

.categorie_musique
  background-color: color.$orange
  font-size: ftsize.$font-paragraphe //250px
  color: color.$white
  font-family: font.$font-sans-serif
  font-weight: 700
  width: 250px
  height: 100px
  border-radius: 32px
  display: flex
  justify-content: center
  align-items: center

.categorie_serieTv
  background-color: color.$mint
  font-size: ftsize.$font-paragraphe //250px
  color: color.$white
  font-family: font.$font-sans-serif
  font-weight: 700
  width: 250px
  height: 100px
  border-radius: 32px
  display: flex
  justify-content: center
  align-items: center

.categorie_jeuxVideo
  background-color: color.$purple
  font-size: ftsize.$font-paragraphe //250px
  color: color.$white
  font-family: font.$font-sans-serif
  font-weight: 700
  width: 250px
  height: 100px
  border-radius: 32px
  display: flex
  justify-content: center
  align-items: center

.categorie_animes
  background-color: color.$pink
  font-size: ftsize.$font-paragraphe //250px
  color: color.$white
  font-family: font.$font-sans-serif
  font-weight: 700
  width: 250px
  height: 100px
  border-radius: 32px
  display: flex
  justify-content: center
  align-items: center

.categorie_sports
  background-color: color.$turquoise
  font-size: ftsize.$font-paragraphe //250px
  color: color.$white
  font-family: font.$font-sans-serif
  font-weight: 700
  width: 250px
  height: 100px
  border-radius: 32px
  display: flex
  justify-content: center
  align-items: center
  
  