@use '../utils/_fonts' as font
@use '../utils/_colors' as color
@use '../utils/_font-size' as ftsize
@use '../utils/_main' as utils

.container-change-ctg_marg
  margin-top: 2.25rem //36px
  margin-bottom: 0.188rem //3px

.change-ctg_flex
  display: flex
  justify-content: flex-end
  margin-right: 83px

.change-ctg_btn
  background-color: color.$indigo
  height: 39px
  width: 196px
  border-radius: 32px
  display: flex
  align-items: center
  justify-content: center

.change-ctg_text
  color: color.$white
  font-family: font.$font-sans-serif
  font-size: ftsize.$font-btn-ctg
  font-weight: 600 //semi-bold

.chosen-ctg_flex
  display: flex
  justify-content: center
  


.chosen-ctg_rpctg  
  background-color: color.$grey
  height: 39px
  width: 144px
  border-radius: 32px
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  margin-right: 400px

.chosen-ctg_rpqst
  color: color.$white
  font-family: font.$font-sans-serif
  font-size: ftsize.$font-size-clssc
  font-weight: 600 //semi-bold
.container_quest
  background-color: color.$blue
  width: 539px
  height: 39px
  border-radius: 32px
  display: flex
  justify-content: center
  align-items: center

.container-quest_text
  color: color.$white
  font-family: font.$font-sans-serif
  font-size: ftsize.$font-size-clssc
  font-weight: 600 //semi-bold
  
  
