@use '../utils/_fonts' as font
@use '../utils/_colors' as color
@use '../utils/_font-size' as ftsize

.container_statement
  font-size: ftsize.$font-paragraphe //20px
  display: block
  margin: 4.563rem //73px
  text-align: center
  font-weight: 500
  