* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
  color: inherit;
}
* ul {
  list-style: none;
}

.flux {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  text-align: center;
  padding: 0.625rem;
  background-color: #0D6EFD;
}
.header_navbar {
  font-family: "Carter One", cursive;
  color: #F8F9FA;
  font-size: 3.125rem;
}

.container_statement {
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
  display: block;
  margin: 4.563rem;
  line-height: 1.688rem;
  text-align: center;
  font-weight: 600;
}
@media (max-width: 576px) {
  .container_statement {
    font-size: 0.875rem;
    line-height: 18px;
  }
}
@media (max-width: 576px) {
  .container_statement {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 576px) {
  .container_statement {
    margin: 2.188rem;
  }
}

.container_categories {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-evenly;
}
@media (max-width: 531px) {
  .container_categories {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.categorie_cinema {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100px;
  border-radius: 32px;
  background-color: #087990;
  font-size: 1.25rem;
  color: #F8F9FA;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
@media (max-width: 531px) {
  .categorie_cinema {
    border-radius: 0;
    width: 100%;
  }
}

.categorie_musique {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100px;
  border-radius: 32px;
  background-color: #FD7E14;
  font-size: 1.25rem;
  color: #F8F9FA;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
@media (max-width: 531px) {
  .categorie_musique {
    border-radius: 0;
    width: 100%;
  }
}

.categorie_serieTv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100px;
  border-radius: 32px;
  background-color: #20C997;
  font-size: 1.25rem;
  color: #F8F9FA;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
@media (max-width: 531px) {
  .categorie_serieTv {
    border-radius: 0;
    width: 100%;
  }
}

.categorie_jeuxVideo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100px;
  border-radius: 32px;
  background-color: #6610F2;
  font-size: 1.25rem;
  color: #F8F9FA;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
@media (max-width: 531px) {
  .categorie_jeuxVideo {
    border-radius: 0;
    width: 100%;
  }
}

.categorie_animes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100px;
  border-radius: 32px;
  background-color: #D63384;
  font-size: 1.25rem;
  color: #F8F9FA;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
@media (max-width: 531px) {
  .categorie_animes {
    border-radius: 0;
    width: 100%;
  }
}

.categorie_sports {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100px;
  border-radius: 32px;
  background-color: #0DCAF0;
  font-size: 1.25rem;
  color: #F8F9FA;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
@media (max-width: 531px) {
  .categorie_sports {
    border-radius: 0;
    width: 100%;
  }
}

@media (max-width: 531px) {
  .categorie-text-size {
    font-size: 2.5rem;
  }
}/*# sourceMappingURL=style.css.map */