//Liste des couleurs par thème
$blue: #0D6EFD
$pinegreen: #087990
$orange: #FD7E14
$mint: #20C997
$purple: #6610F2
$pink: #D63384
$turquoise: #0DCAF0

//couleurs btn
$indigo: #0D408A

//liste des couleurs des polices d'écritures
$black: #000000
$white: #F8F9FA

//couleur des bonnes réponses
$correct: #198754

//couleur des mauvaises réponses
$wrong: #DC3545

//couleur à remplacer par la couleur de catégorie choisi
$grey: #C4C4C4

//::hover
$hovblue: #0d52b9
$hovpinegreen: #075868
$hoovrange: #ce650f
$hovmint: #1aa77d
$hovpurple: #4f0dbb
$hovpink: #a72968
$hovturquoise: #0d9db9